@use "../../global" as *;

.contact {
  &-wrap {
    width: 80%;
    &__intro {
      width: 90%;
      margin: 0 auto;
      p {
        text-align: center;
        span {
          display: inline-block;
          color: $Red;
          font-size: 0.8rem;
          margin-top: 1.5%;
        }
      }
    }
    &__form {
      margin: 5% auto;
      ._area {
        align-items: baseline;
      }
      &__box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        margin: 0 auto 7.5%;
        align-items: center;
        &__ttl {
          font-weight: bolder;
          margin-bottom: 2%;
          width: 20%;
          min-width: 190px;
          padding-right: 2rem;
          position: relative;
          margin:0 5% 0 0;
          white-space: nowrap;
          line-height: 1;
          span {
            color: $Red;
            display: inline-block;
            position: absolute;
            top: 3.5%;
            right: 0;
            font-size: 0.5rem;
            border: 0.8px solid $Red;
            padding: 0.25rem 0.5rem;
          }
        }
        &__select,
        &__input,
        &__area {
          height: 3rem;
          width: 70%;
          padding-left: 5px;
          font-size: 1rem;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
        }
        &__area {
          height: 12rem;
        }
      }
      .contact-btn {
        width: 180px;
        height: 60px;
        display: block;
        margin: 0 auto;
        border: 2px solid $Black;
        background-color: $Black;
        position: relative;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        overflow: hidden;
        color: $White;
        font-weight: bolder;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        z-index: 2;
        position: relative;
        .btn_bg {
          width: 180px;
          height: 60px;
          left: -180px;
          top: 0;
          background: $White;
          position: absolute;
          -webkit-transition: all .5s ease;
          -o-transition: all .5s ease;
          transition: all .5s ease;
          z-index: -1;
        }
        &:hover {
          color: $Black;
          cursor: pointer;
          .btn_bg {
            left: 0;
          }
        }
      }
    }
  }
}

@include mq(pc) {
  .contact {
    &-wrap {
      width: 90%;
    }
  }
}

@include mq(tab) {
  .contact {
    &-wrap {
      width: 80%;
      &__form {
        &__box {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
                  align-items: baseline;
          &__ttl {
            width: 25%;
            min-width: 150px;
            margin-bottom: 3%;
          }
          &__select,
          &__input,
          &__area {
            width: 100%;
          }
        } 
      }
    }
  }
}

@include mq(sp) {
  .contact {
    &-wrap {
      width: 90%;
      &__intro {
        width: 100%;
      }
      &__form {
        width: 100%;
        &__box {
          &__ttl {
            width: 40%;
            min-width: 120px;
          }
          &__select,
          &__input,
          &__area {
            height: 4rem;
          }
          &__area {
            height: 15rem;
          }
        }
        .contact-btn {
          width: 120px;
          height: 50px;
        }

        .btn_bg {
          width: 120px;
          height: 50px;
          left: -120px;
        }
      }
    }
  }
}