@use "../../global" as *;

.top {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  &-video {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      background: url(../../../img/service__AI.jpg);
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $Blue_Dark_rgb60;
      top: 0;
      left: 0;
    }
  }
  &-wrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: $White;
      white-space: nowrap;
      margin-bottom: 1%;
      max-width: 95vw;
    }
    p {
      font-size: 1.8rem;
      color: $White;
      text-align: center;
      max-width: 95vw;
    }
  }
}

.intro {
  width: 100%;
  &-wrap {
    width: 100%;
    background: url(../../../img/ITblue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 6% 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $Blue_Marin_rgb80;
    }
    &__txt {
      width: 70%;
      margin: 0 auto;
      font-size: 1.5rem;
      color: $White;
      text-align: center;
      z-index: 1;
    }
  }
}


.service {
  &-wrap {
    &__intro {
      width: 35%;
      margin-bottom: 3%;
    }
    &__body {
      position: relative;
      width: 100%;
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        &__item {
          width: 45%;
          aspect-ratio: 5 / 3.5;
          height: 340px;
          box-shadow: 4px 4px 4px 0 $Gray_Bg;
          border: 0.5px solid $Gray_Light;
          position: relative;
          overflow: hidden;
          margin: 2%;
          box-sizing: border-box;
          &::before {
            position: absolute;
            content: "";
            width: 100px;
            border-top: 1px solid $Blue_Dark;
            bottom: 8%;
            right: 5%;
            transition: all 0.3s;
          }
          &::after {
            position: absolute;
            content: "";
            width: 20px;
            border-top: 1px solid $Blue_Dark;
            transform: rotate(30deg);
            bottom: 9.5%;
            right: 4.8%;
            transition: all 0.3s;
          }
          &:nth-of-type(2n) {
              margin-top: -10%;
            }
            &:hover {
              &::before, &::after {
                border-top: 1px solid $Blue_Marin;
              }
              &::before {
                transform: translateX(10px);
              }
              &::after {
                transform: translateX(10px) rotate(30deg);
              }
            }
          &__con {
            transition: all 0.3s;
            width: 100%;
            height: 100%;
            &__img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 0.5s;
              clip-path: polygon(0 0, 48% 0, 28% 100%, 0 100%);
            }
            &__left {
              width: 100%;
              height: 90%;
              position: absolute;
              z-index: 1;
              top: 0;
              right: 0;
              padding: 6% 3% ;
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              &__ttl {
                min-width: 45%;
                max-width: 53%;
                margin: 0 0 8% auto;
              }
              &__txt {
                width: 60%;
                margin: 0 0 0 auto;
              }
              
            }
            &:hover {
              cursor: pointer;
              opacity: 0.7;
              .service-wrap__body__list__item__con__img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
      &__btn {
        position: absolute;
        bottom: 2%;
        right: 2%;
      }
    }
  }
}

.about {
  background-color: $Blue_Dark_rgb5;
  &-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &__block {
      width: 40%;
      padding: 4% 2%;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      box-shadow: 4px 4px 4px 0 $Blue_Dark_rgb60;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $Blue_Dark_rgb70;
        z-index: -1;
      }
      &__ttl {
        z-index: 1;
        color: $White;
        font-weight: normal;
        line-height: 1;
        margin: 0 auto;
        text-align: center;
        span {
          color: $White;
          padding-right: 2.5rem;
          &::after {
            background-color: $White;
          }
          &::before {
            position: absolute;
            content: "";
            background-color: $White;
            width: 30px;
            height: 2px;
            border-radius: 15%;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            @include mq(tab) {
              width: 20px;
            }
            @include mq(sp) {
              width: 18px;
            }
          }
        }
      }
      &__txt {
        width: 80%;
        font-size: 0.8rem;
        color: $White;
        margin: 6% auto;
        text-align: center;
      }
      &__btn {
        z-index: 2;
        margin: 0 auto;
        box-shadow: none;
      }
    }
    .__about {
      background: url(../../../img/about_bg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .__works {
      background: url(../../../img/works_bg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.news {
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30%;
      &__ttl {
        margin: 0 auto 20%;
      }
      &__btn {
        margin: 0 auto;
      }
    }
    &__right {
      width: 65%;
      &__list {
        &__item {
          &__txt {
            display: flex;
            justify-content: flex-start;
            .date {
              color: $Blue_Dark_rgb60;
              white-space: nowrap;
            }
            .cate {
              color: $Blue_Marin;
              font-size: 0.8rem;
              display: inline-block;
              padding: 0.25rem 0.5rem;
              border: 1px solid $Blue_Marin;
              margin: 0 5%;
              transition: all 0.3s;
              white-space: nowrap;
              &:hover {
                cursor: pointer;
                background-color: $Blue_Marin;
                color: $White;
              }
            }
          }
        }
        hr {
          border-top: 0.8px solid $Blue_Marin_rgb80;
          margin: 3% auto;
        }
      }
    }
    .tab_sp_only {
      display: none;
    }
  }
}

@include mq(pc) {
  .intro {
    &-wrap {
      &__txt {
        font-size: 1.2rem;
      }
    }
  }

  .service {
    &-wrap {
      &__body {
        &__list {
          &__item {
            height: 350px;
            .ttl_3 {
              font-size: 1.1rem;
              span {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }

  .about {
    &-wrap {
      &__block {
        &__ttl {
          font-size: 1.6rem;
          span {
            margin-bottom: -0.5rem;
          }
        }
      }
    }
  }
}

@include mq(tab) {
  .service {
    &-wrap {
      &__body {
        padding-bottom: 70px;
        &__list {
          flex-direction: column;
          &__item {
            width: 400px;
            height: 300px;
            &:nth-of-type(2n) {
              margin: 4% 0 4% auto;
            }
          }
        }
        &__btn {
          bottom: 0%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

}

@include mq(sp) {
  .top {
    &-wrap {
      &__txt {
        width: 90%;
        margin: 3% auto 0;
      }
    }
  }

  .service {
    &-wrap {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      &__intro {
        margin-top: 5%;
        width: 80%;
      }
      &__body {
        &__list {
          width: 100%;
          flex-direction: column;
          &__item {
            width: 100%;
            height: 220px;
            margin: 4% auto;
            &:nth-of-type(2n) {
              margin-top: 4%;
            }
          }
        }
      }
    }
  }

  .about {
    &-wrap {
      flex-direction: column;
      &__block {
        width: 80%;
        padding: 8% 2% 6%;
        &:first-child {
          margin-bottom: 6%;
        }
      }
    }
  }

  .news {
    &-wrap {
      flex-direction: column;
      &__left {
        margin: 0 auto;
        &__btn {
          display: none;
        }
      }
      &__right {
        width: 90%;
        margin: 0 auto;
      }
      .tab_sp_only {
        display: block;
        margin: 5% auto 0;
      }
    }
  }
}

// ローディングアニメーション
.load-video {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: $Black;
  z-index: 9999;
  video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}