$Black: #001F31;
$White: #fff;
$Gray:#A0A0A0;
$Gray_Light:#D9D9D9;
$Gray_Bg:#F4F4F4;
$White_rgb10: rgb(255, 255, 255, 10%);
$White_rgb80: rgb(255, 255, 255, 80%);
$White_rgb90: rgb(255, 255, 255, 90%);
$Red: #FF0000;
$Blue_Marin: #2B80B0;
$Blue_Marin_rgb80: rgb(43, 128, 176, 80%);
$Blue_Dark: #2D4D5F;
$Blue_Dark_rgb60: rgb(45, 77, 95, 60%);
$Blue_Dark_rgb70: rgb(45, 77, 95, 70%);
$Blue_Dark_rgb5: rgb(45, 77, 95, 5%);
